body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#backlog {
  background-color: #b3cccc;
}

#inprogress {
  background-color: #ffff99;
}

#evaluation {
  background-color: #4dffff;
}

#done {
  background-color: #b3e6cc;
}

button {
  background-color: #006666;
  color: white;
}
